<div class="section">
  <div class="container">

  <div menu></div>
  </div>
</div>
<div class="section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
<div class="section fondoFacultad" >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ui-view="view_admin">
          <br><br><br><br>
          <p><span style="font-size: 16pt; color: #ffffff;">Hola, usted es un usuario administrador.</span></p>
          <p><span style="font-size: 16pt; color: #ffffff;">Con este rol podr&aacute; llevar a cabo distintas tareas como:</span></p>
          <ul>
          <li><span style="font-size: 16pt; color: #ffffff;"><strong>Administraci&oacute;n de usuarios (Alta, Baja y Modificaci&oacute;n)</strong>: En la creaci&oacute;n de usuarios podra asignarle distintos roles a los mismos.</span></li><br>
          <li><span style="font-size: 16pt; color: #ffffff;"><strong>Administraci&oacute;n de carteleras (Alta, Baja y Modificacion)</strong>: En esta secci&oacute;n ademas de crear la cartelera junto a una descripci&oacute;n podr&aacute; asignarle que roles de usuarios pueden publicar en ellas.</span></li><br>
          <li><span style="font-size: 16pt; color: #ffffff;"><strong>Administraci&oacute;n de publicaciones</strong> sobre las carteleras (eliminar publicaciones)</span></li><br>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
