<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Agregar Cartelera&nbsp;</h1>
        <h4></h4>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="form-group">
            <label class="control-label" for="Nombre">Nombre</label>
            <input class="form-control" id="exampleInputEmail1" type="text" ng-model="cartelera.nombre" placeholder="Ingrese nombre de la  nueva cartelera">
          </div>
          <div class="form-group">
            <label class="control-label" for="Nombre">Descripcion</label>
            <input class="form-control" id="exampleInputEmail1" type="text" ng-model="cartelera.descripcion" placeholder="Ingrese una descripcion para la cartelera">
          </div>
          <label class="control-label" for="exampleInputEmail1">Permisos</label>
          <!-- Aca hay que iterar los permisos, hacer un servicio para eso -->
          <div class="checkbox">
           <label ng-repeat="p in permisos" class="checkbox-inline">
              <input ng-model="p.seleccionada" type="checkbox">{{p.nombre}}</label>
           </label>
          </div>
          <!-- <button type="submit" class="btn btn-default">Agregar Cartelera</button> -->
          <md-button type="submit" ng-click="showConfirm()" class="md-primary md-raised">Agregar Cartelera</md-button>
        </form>
      </div>
    </div>
  </div>
</div>
{{cartelera}}
