<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: white">Agregar publicacion</h1>
      </div>
    </div>
  </div>
</div>
<div class="section fondoFacultad">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div layout="column" ng-cloak>
        <md-content  class="md-whiteframe-z1 formulario" layout-padding>
            <form id="postForm" name="altaPublicacion" ng-submit="showConfirm()" >
              <md-input-container class="md-block">
                <label>Titulo de la publicaion</label>
                <input md-maxlength="300" maxlength="300" required name="titulo" ng-model="publicacion.titulo">
                <div ng-messages="altaPublicacion.titulo.$error">
                  <div ng-message="required">El campo es requerido</div>
                  <div ng-message="md-maxlength">El nombre es demasiado largo</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Cartelera</label>
                <md-select required name="cartelera" ng-model="carteleraDePublicacion">
                  <md-option ng-repeat="c in carteleras" value="{{c.id}}">
                    {{c.nombre}}
                  </md-option>
                </md-select>
                <div ng-messages="altaPublicacion.cartelera.$error">
                  <div ng-message="required">Seleccione una cartelera</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Publicación</label>
                <div ng-model="publicacion.texto"></div>

             <!--  <textarea  ng-model="publicacion.texto" name="text"  required md-maxlength="1000" rows="5" md-select-on-focus></textarea> -->
                <div ng-messages="altaPublicacion.texto.$error">
                  <div ng-message="required">Ingrese el texto de la publicación</div>
                  <div ng-message="md-maxlength">El texto es demasiado largo</div>
                </div>
              </md-input-container>
               <summernote config="options" ng-model="publicacion.texto"></summernote>

              <md-button type="submit" style="background-color: #933132" class="md-primary md-raised">Crear Publicación</md-button>

            </form>
      </md-content>
      </div>

  </div>
</div>
</div>
