<div ng-if="cartelera.alumnosDTO" class="container">
  <h2>Alumnos interesados en {{cartelera.nombre}}</h2>
  <p>Si no tienen mail es porque no lo informaron:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Nombre</th>
        <th>Legajo</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="alumno in cartelera.alumnosDTO">
        <td>{{ alumno.usuario }}</td>
        <td>{{ alumno.nombre}}</td>
        <td>{{ alumno.apellido}}</td>
        <td>{{ alumno.legajo}}</td>
        <td>{{ alumno.mail}}</td>
      </tr>

    </tbody>
  </table>
</div>
<div ng-if="!cartelera.alumnosDTO" class="container text-center">
  <h3>No hay alumnos interesados en {{cartelera.nombre}}</h3>
</div>
