<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="blanco">Modificar publicacion</h1>
      </div>
    </div>
  </div>
</div>
<div class="section fondoFacultad">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div layout="column" ng-cloak>
          <h3 class="blanco">Cartelera: {{cartelera.nombre}}</h3>
        <md-content  class="md-whiteframe-z1 formulario" layout-padding>
            <form name="modificarPublicacion" ng-submit="showConfirmModificar()">
              <md-input-container class="md-block">
                <label>Titulo de la publicaion</label>
                <input md-maxlength="300" required name="titulo" ng-model="publicacion.titulo">
                <div ng-messages="modificarPublicacion.titulo.$error">
                  <div ng-message="required">El campo es requerido</div>
                  <div ng-message="md-maxlength">El nombre es demasiado largo</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Publicación</label>

<!--                 <textarea ng-model="publicacion.texto" name="texto" required md-maxlength="1000" rows="5" md-select-on-focus></textarea>
 -->                <div ng-messages="modificarPublicacion.texto.$error">
                  <div ng-message="required">Ingrese el texto de la publicación</div>
                  <div ng-message="md-maxlength">El texto es demasiado largo</div>
                </div>
              </md-input-container>
              <summernote height="300" ng-model="publicacion.texto"></summernote>
              <md-button type="submit" style="background-color: #933132" class="md-primary md-raised">Modificar Publicación</md-button>
            </form>
      </md-content>
      </div>
    </div>
  </div>
</div>
</div>
