<div class="section">
 <div class="container">
 <div class="row">
  <md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{cartelera.nombre | uppercase}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="shared/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div dir-paginate="publicacion in cartelera.publicacionesDTO | filter:q | itemsPerPage: 1" current-page="currentPage" class="card-block">
  <blockquote class="pre-scrollable">
      <h3 class="text-center "><b>{{publicacion.titulo}}</b></h3>
      <div class="row">
        <div class="col-xs-2">
          <img ng-if="publicacion.fotoPerfil != null" ng-src="{{publicacion.fotoPerfil}}" on-error="shared/img/silueta_alumno.png" class="img-thumbnail" style="width:70px" />
          <img ng-if="publicacion.fotoPerfil == null" ng-src="shared/img/silueta_alumno.png" class="img-thumbnail" style="width:70px"/>
        </div>
        <div class="col-xs-10" style="font-size: 0.8em; padding-top:1%">
          de <b> {{publicacion.nombreAutor}} </b> - {{publicacion.fecha}}
        </div>
      </div>
        <div class="col-xs-12">
          <br>
            <p ng-bind-html="publicacion.texto"></p>
        </div>
   </blockquote>
 </div>
    <md-dialog-actions ng-controller="PaginadoCtrl" layout="row">

       <div class="container">

      <div class="text-center">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/alumnos/views/dirPagination.tpl.html"></dir-pagination-controls>
      </div>

       </div>

    </md-dialog-actions>
  </form>
</md-dialog>

     </div>
    </div>
  </div>
