
    <div class="section">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Hola {{usuario.nombre}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
              <ul class="nav navbar-nav navbar-right">

                <li>
                  <a href="" ng-click="logout()">LogOut</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 blanco">
            <h1>Carteleras</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section fondoFacultad" >
      <div class="container" >
        <div class="row">
          <div  class="col-md-6"  >
              <div ng-repeat="c in carteleras" ng-if="$even" >
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <b class="tituloCartelera" ng-click="showAdvanced($event, c)">{{c.nombre | uppercase}}</b>
                    <button class="btn btn-default pull-right" ng-click="sacarInteres(c.id)" ng-if="c.interesa">
                        <span class="interesado">Te gusta
                           <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <button class="btn btn-default pull-right" ng-click="registrarInteres(c.id)"  ng-if="!c.interesa" style="color:grey">
                        <span ng-class="noInteresado">Me gusta
                           <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <div class="clearfix"></div>
                  </div>
                  <div  ng-if="c.publicacionesDTO != undefined" class="panel-body">
                    <h4><b>{{c.publicacionesDTO[0].titulo}}</b></h4>
                    <h5><b>Fecha publicacion:</b> {{c.publicacionesDTO[0].fecha}}</h5>
                    <h5><b>Autor:</b>
                        <a href="#">{{c.publicacionesDTO[0].nombreAutor}}</a>
                    </h5>
                  <h5><b>Publicacion</b></h5>
                   <p ng-bind-html="c.publicacionesDTO[0].texto"></p>

                  </div>
                  <div  ng-if="c.publicacionesDTO == undefined" class="panel-body">
                    <h5>Aun no hay publicaciones en esta cartelera</h5>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-md-6">
            <div ng-repeat="c in carteleras" ng-if="$odd" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <b class="tituloCartelera" ng-click="showAdvanced($event, c)">{{c.nombre | uppercase}}</b>
                  <button class="btn btn-default pull-right"  ng-click="sacarInteres(c.id)" ng-if="c.interesa" >
                      <span class="interesado">Te gusta
                         <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                  <button class="btn btn-default pull-right" ng-click="registrarInteres(c.id)" ng-if="!c.interesa" style="color:grey">
                      <span ng-class="noInteresado">Me gusta
                         <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                  <div class="clearfix"></div>
                </div>
                <div  ng-if="c.publicacionesDTO != undefined" class="panel-body">
                  <h4><b>{{c.publicacionesDTO[0].titulo}}</b></h4>
                  <h5><b>Fecha publicacion:</b> {{c.publicacionesDTO[0].fecha}}</h5>
                  <h5><b>Autor:</b>
                      <a href="#">{{c.publicacionesDTO[0].nombreAutor}}</a>
                  </h5>
                <h5><b>Publicacion</b></h5>
                   <p ng-bind-html="c.publicacionesDTO[0].texto"></p>
                </div>
                <div  ng-if="c.publicacionesDTO == undefined" class="panel-body">
                  <h5>Aun no hay publicaciones en esta cartelera</h5>
                </div>
              </div>
            </div>
          </div>
          <!--
                MODAL PARA LEVANTAR
                https://material.angularjs.org/latest/api/service/$mdDialog


                paginado
                http://plnkr.co/edit/Wtkv71LIqUR4OhzhgpqL?p=preview
          -->
        </div>
      </div>
    </div>
  </div>
