
    <div class="section">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Hola {{usuario.nombre}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
              <ul class="nav navbar-nav navbar-right">

                <li>
                  <a href="" ng-click="logout()">LogOut</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Carteleras</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="column" id="column1">
                <div class="panel panel-primary" id="item1">
                  <div class="panel-heading">
                    <h3 class="panel-title">Primer año</h3>
                  </div>
                  <div class="panel-body">
                    <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                    <h5>Fecha publicacion: 25/10/2016</h5>
                    <h5>Autor:
                        <a href="#">Laura Fava</a>
                    </h5>
                    <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                        a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                        9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                  </div>
                    <!-- <h2><a data-toggle="modal" data-target="#myModal">Primer año</a>
                        <a href="#"><i class="fa fa-2x fa-bullhorn fa-fw pull-right text-primary"></i></a>
                    </h2>
                    <div class="dragbox-content">
                        <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                        <h5>Fecha publicacion: 25/10/2016</h5>
                        <h5>Autor:
                            <a href="#">Laura Fava</a>
                        </h5>
                        <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                            a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                            9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                    </div> -->
                </div>
                <div class="dragbox" id="item2">
                    <h2>Segundo año<a href="#"><i class="fa fa-2x fa-bullhorn fa-fw pull-right text-primary"></i></a></h2>
                    <div class="dragbox-content">
                        <h3>Matemática I</h3>
                        <h5>Fecha publicacion: 23/10/2016</h5>
                        <h5>Autor:
                            <a href="#">Prof Pintarelli</a>
                        </h5>
                        <p>Horario de Teoría y Práctica Comisión 1A : 8 a 11 aula 9 Comisión 1B :
                            8 a 11 aula 11. Comisión 2A : 11 a 14 aula 9 .Comisión 2B : 11 a 14 aula
                            11 .Comisión 3A : 15 a 18 aula 9 Comisión 3B : 15 a 18 aula 11. Comisión
                            4A : 18 a 21 aula 9. Comisión 4B : 18 a 21 aula 11</p>
                    </div>
                </div>
                <div class="dragbox" id="item3">
                    <h2>Tercer año<a href="#"><i class="fa fa-2x fa-fw pull-right text-primary fa-check"></i></a></h2>
                    <div class="dragbox-content">
                        <h3>Matemática I</h3>
                        <h5>Fecha publicacion: 23/10/2016</h5>
                        <h5>Autor:
                            <a href="#">Prof Pintarelli</a>
                        </h5>
                        <p>Horario de Teoría y Práctica Comisión 1A : 8 a 11 aula 9 Comisión 1B :
                            8 a 11 aula 11. Comisión 2A : 11 a 14 aula 9 .Comisión 2B : 11 a 14 aula
                            11 .Comisión 3A : 15 a 18 aula 9 Comisión 3B : 15 a 18 aula 11. Comisión
                            4A : 18 a 21 aula 9. Comisión 4B : 18 a 21 aula 11</p>
                    </div>
                </div>
            </div>
            <div class="column" id="column2">
                <div class="dragbox" id="item4">
                    <h2 contenteditable="true">Cuarto año<a href="#"><i class="fa fa-2x fa-check fa-fw pull-right text-success"></i></a></h2>
                    <div class="dragbox-content">
                        <h3>Matemática I</h3>
                        <h5>Fecha publicacion: 23/10/2016</h5>
                        <h5>Autor:
                            <a href="#">Prof Pintarelli</a>
                        </h5>
                        <p>Horario de Teoría y Práctica Comisión 1A : 8 a 11 aula 9 Comisión 1B :
                            8 a 11 aula 11. Comisión 2A : 11 a 14 aula 9 .Comisión 2B : 11 a 14 aula
                            11 .Comisión 3A : 15 a 18 aula 9 Comisión 3B : 15 a 18 aula 11. Comisión
                            4A : 18 a 21 aula 9. Comisión 4B : 18 a 21 aula 11</p>
                    </div>
                </div>
                <div class="dragbox" id="item5">
                    <h2>Eventos<a href="#"><i class="fa fa-2x fa-bullhorn fa-fw pull-right text-primary"></i></a></h2>
                    <div class="dragbox-content">
                        <h3>CISL 2016</h3>
                        <h5>Fecha publicacion: 24/10/2016</h5>
                        <h5>Autor:
                            <a href="#">La Fuente</a>
                        </h5>
                        <p>Los invitamos al Congreso internacional de Software Libre 2016!!</p>
                        <div class="row row-centered">
                            <div class="col-md-6 col-centered">
                                <img src="images/cisl2016.png" class="img-thumbnail" width="800">
                            </div>
                    </div>
                </div>
            </div>
            <div class="dragbox" id="item1">
                <h2>Quinto año<a href="#"><i class="fa fa-2x fa-bullhorn fa-fw pull-right text-primary"></i></a></h2>
                <div class="dragbox-content">
                    <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                    <h5>Fecha publicacion: 25/10/2016</h5>
                    <h5>Autor:
                        <a href="#">Laura Fava</a>
                    </h5>
                    <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                        a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                        9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
