
    <div class="section">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Hola {{usuario.nombre}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
              <ul class="nav navbar-nav navbar-right">

                <li>
                  <a href="" ng-click="logout()">LogOut</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Carteleras</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
                  <div class="panel panel-primary" id="item1">
                    <div class="panel-heading">
                      <h3 class="panel-title">Primer año</h3>
                    </div>
                    <div class="panel-body">
                      <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                      <h5>Fecha publicacion: 25/10/2016</h5>
                      <h5>Autor:
                          <a href="#">Laura Fava</a>
                      </h5>
                      <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                          a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                          9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                    </div>
                  </div>
              </div>
          <div class="col-md-6">
                <div class="panel panel-primary" id="item1">
                  <div class="panel-heading">
                    <h3 class="panel-title">Primer año</h3>
                  </div>
                  <div class="panel-body">
                    <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                    <h5>Fecha publicacion: 25/10/2016</h5>
                    <h5>Autor:
                        <a href="#">Laura Fava</a>
                    </h5>
                    <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                        a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                        9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                  </div>
                </div>
        </div>
        <div class="col-md-6">
              <div class="panel panel-primary" id="item1">
                <div class="panel-heading">
                  <h3 class="panel-title">Primer año</h3>
                </div>
                <div class="panel-body">
                  <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                  <h5>Fecha publicacion: 25/10/2016</h5>
                  <h5>Autor:
                      <a href="#">Laura Fava</a>
                  </h5>
                  <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                      a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                      9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
                </div>
              </div>
      </div>
      <div class="col-md-6">
            <div class="panel panel-primary" id="item1">
              <div class="panel-heading">
                <h3 class="panel-title">Primer año</h3>
              </div>
              <div class="panel-body">
                <h3>Conceptos de Algoritmos, Datos y Programas</h3>
                <h5>Fecha publicacion: 25/10/2016</h5>
                <h5>Autor:
                    <a href="#">Laura Fava</a>
                </h5>
                <p>Horarios de recursantes Practicas: martes y viernes de: 8 a 10 hs - 11
                    a 13hs - 15 a 17 hs -18:30 a 20:30 hs Teorias lunes y miercoles (aula 5):
                    9 a 10:30hs - 11:30 a 13hs - 15:30 a 17hs - 18:30 a 20hs</p>
              </div>
            </div>
    </div>
        </div>
      </div>
    </div>
  </div>
