    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Agregar Usuario&nbsp;</h1>
            <h4></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form action="carteleras.html" role="form">
              <div class="form-group">
                 <label class="control-label" for="Nombre">Usuario</label>
                <input class="form-control" id="usuario" type="text" placeholder="Ingrese nombre de usuario" ng-model="usuario.usuario>
              
              <label class="control-label" for="Nombre">Contraseña</label>
                <input class="form-control" id="contrasena" type="text" placeholder="Ingrese contraseña" ng-model="usuario.contrasena>
                
                <label class="control-label" for="Nombre">Nombre</label>
                <input class="form-control" id="nombre" type="text" placeholder="Ingrese nombre del nuevo usuario" ng-model="usuario.nombre">
              
              <label class="control-label" for="Nombre">Apellido</label>
                <input class="form-control" id="apellido" type="text" placeholder="Ingrese apellido del nuevo usuario" ng-model="usuario.apellido>
              
           
              </div>
              <label class="control-label" for="exampleInputEmail1">Permisos</label>
              <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox">ADMINISTRADOR</label>
                <label class="checkbox-inline">
                  <input type="checkbox">PUBLICADOR EXTERNO</label>
                <label class="checkbox-inline">
                  <input type="checkbox">INSTITUCIONAL</label>
             
              </div>
              <button type="submit" class="btn btn-default">Agregar Usuario</button>
            </form>
          </div>
          
        </div>
      </div>
    </div>