 <div class="container">
	<div class="row">
		<div class="col-md-12 text-right">
			<a ui-sref="admin.altaUsuarioAdmin" class="md-primary md-raised md-button md-ink-ripple" style="background-color: #933132">Agregar
				Usuario</a>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12">
					<div ng-if="mensaje" class="alert alert-success" role="alert">
						<strong> {{mensaje}}</strong>
					</div>
					<table
						class="table table-bordered table-condensed table-hover table-striped" style="background-color:white">
						<thead class="colorUniversidad" >
							<tr >
								<th >Nombre Usuario</th>
								<th >Tipo de Usuario</th>
								<th colspan="2" >Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in usuarios">
								<td>{{u.nombre}} {{u.apellido}}</td>
								<td>{{u.tipoUsuario}} </td>

								<td><a ui-sref="admin.modificarUsuarioAdmin({usuarioNuevo: u})">Editar
										<i class="fa fa-2x fa-edit fa-fw text-primary"></i>
								</a></td>
								<td><a href="" ng-click="eliminarUsuario(u.id)">Eliminar
										<i class="fa fa-2x fa-fw fa-remove text-danger"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
