 <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">{{usuario.tipoUsuario}}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
              <ul class="nav navbar-nav navbar-right">

               <li ng-repeat="m in menuItems track by $index"  ng-class="{'active': m && m.activo}" >
              <!-- <li ng-repeat="m in menuItems" > -->
                  <a ui-sref="{{m.estado}}" ng-click="cambioActivo($index)">{{m.nombre}}</a>
              </li>
                <li>
                  <a href="" ng-click="logout()">LogOut</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
