<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Agregar Cartelera&nbsp;</h1>
        <h4></h4>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <!-- <div class="form-group"> -->
            <md-input-container class="md-block">
              <label  for="Nombre">Nombre</label>
              <input class="form-control" id="exampleInputEmail1" required md-no-asterisk type="text" ng-model="cartelera.nombre" placeholder="Ingrese nombre de la  nueva cartelera">
              <div ng-messages="cartelera.nombre.$error"> </div>
              <div ng-messages="required">This is required.</div>
            <!-- </div> -->
          </md-input-container>
          <div class="form-group">
            <label class="control-label" for="Nombre">Descripcion</label>
            <input class="form-control" id="exampleInputEmail1" type="text" ng-model="cartelera.descripcion" placeholder="Ingrese una descripcion para la cartelera">
          </div>
          <label class="control-label" for="exampleInputEmail1">Permisos</label>
          <!-- Aca hay que iterar los permisos, hacer un servicio para eso -->
          <div class="checkbox">
           <label ng-repeat="p in permisos" class="checkbox-inline">
              <input ng-model="p.seleccionada" type="checkbox">{{p.nombre}}</label>
           </label>
          </div>
          <!-- <button type="submit" class="btn btn-default">Agregar Cartelera</button> -->
          <md-button type="submit" ng-click="showConfirm()" class="md-primary md-raised">Agregar Cartelera</md-button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MATERIAL -->

<div  layout="column" ng-cloak>

  <md-content layout-padding>
    <form name="projectForm">

      <md-input-container class="md-block">
        <label>Nombre</label>
        <input md-maxlength="200" required md-no-asterisk name="nombre" ng-model="cartelera.nombre">
        <div ng-messages="cartelera.nombre.$error">
          <div ng-message="required">El campo es requerido</div>
          <div ng-message="md-maxlength">El nombre es demasiado largo</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Descripcion</label>
        <input md-maxlength="300" required md-no-asterisk name="descripcion" ng-model="cartelera.descripcion">
        <div ng-messages="cartelera.nombre.$error">
          <div ng-message="required">El campo es requerido</div>
          <div ng-message="md-maxlength">La descripcion es demasiado larga</div>
        </div>
      </md-input-container>

      <!-- <fieldset class="standard" >
         <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>
         <div layout="row" layout-wrap flex>
           <div flex="50" ng-repeat="item in items">
             <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
               {{ item }} <span ng-if="exists(item, selected)">selected</span>
             </md-checkbox>
           </div>
         </div>
       </fieldset> -->

        <!-- <label ng-repeat="p in permisos" class="checkbox-inline">
           <input ng-model="p.seleccionada" type="checkbox">{{p.nombre}}</label>
        </label> -->
<fieldset class="standard" >
   <div layout="row" layout-wrap flex>
      <md-input-container class="md-block" ng-repeat="p in permisos">
        <md-checkbox name="tos" ng-model="p.seleccionada">
          {{p.nombre}}
        </md-checkbox>

      </md-input-container>
    </div>
</fieldset>

      <div>
        <md-button type="submit" ng-click="showConfirm()" class="md-primary md-raised">Agregar Cartelera</md-button>
      </div>


    </form>
  </md-content>



{{cartelera}}
