<h2>Bienvenid@ {{usuarioGuarani.nombre}}</h2>
<div ng-if="tipoUsuarioSeleccionado == 'profesores'">
  <small>Complete sus datos personales por unica vez para tener acceso como profesor</small>
</div>
<div ng-if="tipoUsuarioSeleccionado == 'alumnos'">
  <small>Complete sus datos personales por unica vez para tener acceso a las carteleras</small>
</div> 
<form>
    <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" ng-model="usuarioGuarani.nombre" id="nombre">
  </div>
  <div class="form-group">
    <label for="apellido">Apellido:</label>
    <input type="text" class="form-control" ng-model="usuarioGuarani.apellido" id="apellido">
  </div>
  <div ng-if="tipoUsuarioSeleccionado == 'alumnos'" class="form-group">
    <label for="email">Mail:</label>
    <input type="mail" class="form-control" ng-model="usuarioGuarani.email" id="email">
  </div>
  <div ng-if="tipoUsuarioSeleccionado == 'alumnos'" class="form-group">
    <label for="legajo">Legajo:</label>
    <input type="number" disabled="disabled" class="form-control" ng-model="usuarioGuarani.legajo" id="legajo">
  </div>  
  <button type="submit" style="background-color: #933132" ng-click="guardarDatosRegistro()" class="btn btn-default">Guardar datos</button>
</form>
